<!-- app.component.html -->
<div class="top-container">
  <form (ngSubmit)="convertVideo()" id="form">
    <h1><i class="fa-brands fa-youtube"></i>Youtube MP3 Converter</h1>
    <h3>Insert the video URL</h3>
    <div>
      <input
        type="text"
        name="videoUrl"
        [(ngModel)]="videoUrl"
        placeholder="URL Video"
      />
      <button type="submit" id="convert-btn">Convert</button>
    </div>
  </form>
</div>
<div class="bottom-container">
  <ng-container *ngIf="success !== undefined">
    <div *ngIf="success" class="success">
      <p>{{ songTitle }}</p>
      <a [href]="songLink"><button id="download-btn">Download</button></a>
    </div>
    <div *ngIf="!success" class="errors">
      <p>{{ errorMessage }}</p>
    </div>
  </ng-container>
</div>
<div class="amazon-banner">
  <a href="https://amzn.to/41IUzbr" target="_blank">
    <img src="../assets/amazon.png" alt="Amazon Ofertas e Promoções" />
    <p class="amazon-text">
      Clique aqui para obter as melhores promoções de produtos da amazon
    </p>
  </a>
</div>

<!-- <router-outlet></router-outlet> -->
